# .gitignore for the book summary quotes repo.

# Ignore any .aux files.
*.aux

# Ignore any .dvi files
*.dvi

# Ignore any .log files.
*.log

# Ignore any OS .fuse files.
*.fuse_*

# Ignore any Xournal files.
*.xoj

# Ignore any .png pictures
*.png
